@use "private/breakpoints" as breakpoints;

:root {
  --element-shadow-offset-x: 5px;
  --element-shadow-offset-y: 5px;
  --element-shadow-blur-radius: 10px;
}

@include breakpoints.media-min(breakpoints.$tablet-breakpoint) {
  :root {
    --element-shadow-offset-x: 10px;
    --element-shadow-offset-y: 10px;
    --element-shadow-blur-radius: 15px;
  }
}

@include breakpoints.media-min(breakpoints.$desktop-breakpoint) {
  :root {
    --element-shadow-offset-x: 15px;
    --element-shadow-offset-y: 15px;
    --element-shadow-blur-radius: 20px;
  }
}

@include breakpoints.media-min(breakpoints.$wide-desktop-breakpoint) {
  :root {
    --element-shadow-offset-x: 20px;
    --element-shadow-offset-y: 20px;
    --element-shadow-blur-radius: 25px;
  }
}
